* {
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

footer {
	background-color: lightgray;
	text-align: right;
	padding: 0 15px;
	margin: 15px 0;
} 

.site-header {
	padding: 10px;
}

body p {
	padding: 10px;

}

.sec_task {
	width: 200px;
	height: 200px;
	background-color: #cc0000;
	margin: 0 auto;
}

.sec_task__item {
	position: relative; 
	width: 40px;
	height: 100px; 
	background: #fff;
	left: 80px;
	top: 50px;
	border-radius: 5px;
}

.sec_task__item:after {
	content: "";
	position: absolute; 
	width: 100px;
	height: 40px; 
	background: #fff;
	left: -30px; 
	top: 30px;
	border-radius: 5px;
}