* {
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

footer {
	background-color: lightgray;
	text-align: right;
	padding: 0 15px;
	margin: 15px 0;
} 

.site-header {
	padding: 10px;
}

body p {
	padding: 10px;

}

.sec_task {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.sec_task__item {
	display: flex;
	width: 100px;
	height: 100px; 
	border: 2px solid black;
	border-radius: 100%;
	margin-left: 10px;
	margin-top: -40px;
	background-color: #7fb7de;
	opacity: 0.7;

}

.sec_task__item:first-child {
	position: relative;
	margin-left: 50px;
	margin-top: 25px;
	background-color: #ff7f7f;
}

.sec_task__item:last-child {
	position: relative;
	margin-left: 90px;
	margin-top: -105px;
	background-color: #7fd6a7;
}
